# fly.toml app configuration file generated for ventricle on 2026-01-18T15:12:46-08:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'ventricle'
primary_region = 'lax'
console_command = '/rails/bin/rails console'

[build]

[[mounts]]
  source = 'data'
  destination = '/data'

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

  [[http_service.checks]]
    interval = '10s'
    timeout = '2s'
    grace_period = '5s'
    method = 'GET'
    path = '/up'
    protocol = 'http'
    tls_skip_verify = false

    [http_service.checks.headers]
      X-Forwarded-Proto = 'https'

[[vm]]
  memory = '4gb'
  cpus = 4
  memory_mb = 4096
